<%- include("partials/header") %>

    <main>
        <h1>Organizations</h1>

        <p>Here are a few of our partner organizations:</p>

        <ul>
            <% organizations.forEach(org=> { %>
                <li>
                    <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo">
                    <strong>
                        <a href="/organization/<%= org.organization_id %>">
                            <%= org.name %>
                        </a>
                    </strong>: <%= org.contact_email %>
                        <p>
                            <%= org.description %>
                        </p>
                </li>
                <% }) %>
        </ul>
    </main>

    <%- include("partials/footer") %>