<%- include("partials/header") %>

    <main>
        <h2>
            <%= projectDetails.title %>
        </h2>
        <p>
            <%= projectDetails.description %>
        </p>
        <p>
            <%= new Date(projectDetails.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                day: 'numeric' }) %>
                — <%= projectDetails.location %>
        </p>
        <p>
            Organization:
            <a href="/organization/<%= projectDetails.organization_id %>">
                <%= projectDetails.organization_name %>
            </a>
        </p>

        <div class="category-tags">
            <% categories.forEach(category=> { %>
                <a class="tag" href="/category/<%= category.category_id %>">
                    <%= category.name %>
                </a>
                <% }) %>
        </div>
    </main>

    <%- include("partials/footer") %>